include LICENSE README.md CHANGELOG.md CONTRIBUTING.md
include docs/man/getmac.1
include docs/man/getmac2.1
graft getmac

prune .github
prune samples
prune scripts
prune packaging
prune tests
prune docs

global-exclude *.py[cod] __pycache__ *.so *.class
exclude *-getmac.spec *.yml setup.cfg .pre-commit-config.yaml
exclude tox.ini dev-requirements.txt Dockerfile Vagrantfile